body {
  background-color: black;
  border-collapse: collapse;
}

h1 {
  text-align: center;
  color: #B00000;
  font-size: 30px;
  margin: auto;
}

h2 {
  text-align: center;
  color: #B00000;
  line-height: 16px;
  font-size: 16px;
  margin: 8 0;
}

#container {
  height: 225px;
  margin: 0px auto;
  display: flex;
}

#container > div {
  height: 100%;
  width: 33.3%;
  margin: 0px;
}

#markov {
  margin: auto;
  height: 100%;
  float: right
}

#tchaik {
  margin: auto;
  height: 100%;
  float: left
}

figcaption {
  margin: auto;
  font-size: 20px;
  text-align: center;
  color: #B00000;
}

#board {
  background-color: orange;
  height: 100%;
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
#board tr {
  width: 100%;
  background-color: grey;
}
#board td {
  text-align: center;
  width: 33.3%;
  height: 33.3%;
  font-size: 40px;
  border: 3px solid #B00000;
}

#turn {
  margin: 10px auto;
  width: 200px;
  font-size: 20px;
  text-align: center;
  background-color: #B00000 ;
}

#play-again {
  background-color: #B00000;
  color: white;
  display: none;
  margin: 10px auto;
}

.btn {
  background: #B00000;
  background-image: -webkit-linear-gradient(top, #B00000, #730000);
  background-image: -moz-linear-gradient(top, #B00000, #730000);
  background-image: -ms-linear-gradient(top, #B00000, #730000);
  background-image: -o-linear-gradient(top, #B00000, #730000);
  background-image: linear-gradient(to bottom, #B00000, #730000);
  -webkit-border-radius: 18;
  -moz-border-radius: 18;
  border-radius: 18px;
  -webkit-box-shadow: 0px 2px 3px #000000;
  -moz-box-shadow: 0px 2px 3px #000000;
  box-shadow: 0px 2px 3px #000000;
  font-family: Arial;
  color: #000000;
  font-size: 20px;
  padding: 10px 15px;
  text-decoration: none;
  border-color: black;
}

.btn:hover {
  background: #B00000;
  background-image: -webkit-linear-gradient(top, #B00000, #a30303);
  background-image: -moz-linear-gradient(top, #B00000, #a30303);
  background-image: -ms-linear-gradient(top, #B00000, #a30303);
  background-image: -o-linear-gradient(top, #B00000, #a30303);
  background-image: linear-gradient(to bottom, #B00000, #a30303);
  text-decoration: none;
}
